#root {
  width:  256px;
  margin: 48px auto;
}

.result {
  height: 48px;
  background: black
}

.resultValue{
  color: white;
  font-size:24px;
  height: 100%;
  text-align: end;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.wrapper {
  display: flex;
  justify-content: center;
  background: black
}

button {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin: 8px;
  background: #555555;
  border: none;
  color: white;
  font-size: 24px;
  padding: 0;
}


button:hover {
  background: #999999
}


button:focus {
  outline: none;
}

.operator button {
  background: orange;
}

.operator button:hover{
  background: #FFC7AF;
}

.operator button:focus {
  background: white;
  color: orange;
}

.operator {
  display: flex;
  flex-direction: column;
}
